<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/afdf4923-a3ee-488c-80a9-38c77dd52377/resourceGroups/TZ-Interns/providers/Microsoft.Web/sites/api2do</ResourceId>
    <ResourceGroup>TZ-Interns</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://api2do.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>5f1dd652-8318-4c58-b66f-c81106cd77ee</ProjectGuid>
    <PublishUrl>https://api2do.scm.azurewebsites.net/</PublishUrl>
    <UserName>$api2do</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>